@media screen and (min-width: 650px) {
  .notes-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .detail-page__title {
    font-size: 64px;
  }
}

@media screen and (min-width: 850px) {
  .notes-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .notes-list {
    grid-template-columns: repeat(4, 1fr);
  }
}